.container{
    display: flex;  
    flex-direction: column; 
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    gap: 14px;
}
.textSec{
  display: flex;  
  flex-direction: column;
  gap: 18px;
}
.heading h1{
    font-size: 38px;
    font-weight: 800;
}
.heading2{
    font-size: 18px;
    font-weight: 400;
}
.inputSec{
    display: flex;
    align-items: center;
    gap: 7px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px){
   .inputSec{
    flex-direction: column;
    width: auto;
    height: auto;
   }
   .inputSec :nth-child(1){
    width: 210px;
   }
   .inputSec :nth-child(2){
    height: 10px;
   }
   .watchNow{
    margin-top: 32px;
   }
  }